@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row clearfix">

    <a href="/Master/Birds">

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-cyan hover-expand-effect">
                <div class="icon">
                    <span class="blks"><img src="~/Resources/images/hen.png" /></span>
                </div>
                <div class="content">
                    <div class="text">Birds</div>

                </div>
            </div>
        </div>
    </a>
    <a href="/Master/Chiken_Breed">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-light-green hover-expand-effect">
                <div class="icon">
                    <span class="blks"><img src="~/Resources/images/microbiology.png" /></span>
                </div>
                <div class="content">
                    <div class="text">Chiken Breed</div>

                </div>
            </div>
        </div>
    </a>
    <a href="/Master/Feed_Type">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-orange hover-expand-effect">
                <div class="icon">
                    <span class="blks"><img src="~/Resources/images/chicken-rice.png" /></span>
                </div>
                <div class="content">
                    <div class="text">Feed Type</div>

                </div>
            </div>
        </div>
    </a>
    <a href="/Master/Medication">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-orange hover-expand-effect">
                <div class="icon">
                    <span class="blks"><img src="~/Resources/images/stethoscope.png" /></span>
                </div>
                <div class="content">
                    <div class="text">Medication</div>

                </div>
            </div>
        </div>
    </a>
    <a href="/Master/Vaccine">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-pink hover-expand-effect">
                <div class="icon">
                    <span class="blks"><img src="~/Resources/images/vaccine.png" /></span>
                </div>
                <div class="content">
                    <div class="text">Vaccine</div>

                </div>
            </div>
        </div>
    </a>
    <a href="/Master/Issue_Item">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-deep-purple hover-expand-effect">
                <div class="icon">
                    <span class="blks"><img src="~/Resources/images/to-do-list.png" /></span>
                </div>
                <div class="content">
                    <div class="text">Issue Item</div>

                </div>
            </div>
        </div>
    </a>
    <a href="/Master/Farm_Master">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-blue hover-expand-effect">
                <div class="icon">
                    <span class="blks"><img src="~/Resources/images/animal.png" /></span>
                </div>
                <div class="content">
                    <div class="text">Farm Master</div>

                </div>
            </div>
        </div>
    </a>
    <a href="/Master/diseases__Details">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="info-box bg-blue hover-expand-effect">
                <div class="icon">
                    <span class="blks"><img src="~/Resources/images/hypertension.png" /></span>
                </div>
                <div class="content">
                    <div class="text">Diseases Details</div>

                </div>
            </div>
        </div>
    </a>
</div>
