@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RRR</title>
</head>
<body>
    <form action="/Master/RRRppp" method="post">
        <div>
            <div class="form-group">

            </div>
            <div class="col-md-10">
                <table>
                    <tr>
                        <td><input type="checkbox" name="city" value="Pune" id="1" />Pune</td>
                        <td><input type="checkbox" name="city" value="Banglore" id="2" />Banglore</td>
                        <td><input type="checkbox" name="city" value="Mumbai" id="3" />Mumbai</td>
                    </tr>
                </table>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value="Create" />
                </div>
            </div>
        </div>
    </form>
</body>
</html>
